body {
  font-family: arial;

}
p {
  color: rgb(100,100,100);
  font-family: monospace;
}
h1{
  border: solid #a9e3f4 5px;
  color: #ff88b2;
}
#dotted{
  border:dotted #a9e3f4;
  width: 100%;
  background-color: #ffcf85;
}
#divself{
  width: 100%;
  display: flex;
  justify-content: center;
}
.centercontent{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction:column;
}
#thingsilove{
  padding-left: 30px;
  color: #ff88b2;
}
#list{
  padding-left: 70px;
  color: #B2E2F2;
  background-color: #797979;
  width: 250px;
  height: 100px;

}
#thingsaboutme{
  border:solid;
  padding-left: 450px;
  color: #e2e2e2;
  background-color: #797979;
  font-family: serif;
}
p{
  color: #c8d2d5;
}
#welcome{
  background-color: #c8d2d5;
  /* must be changed */
}
hr{
  height: 20px;
  color: black;
  background-color: pink;
}
