#quotesection{
background-color: #1C4A42;
margin: 10vh 20vw;
padding: 8vh 10vw 10vh 10vw;
border-radius: 8px;
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: black;
  color: #7A6392;
  font-family: serif;
  font-weight: bold;
  background-color: white;

}
button:hover{
  boder: #fff solid 1px;
  color: #C59697;
  background-color: #915051;
}
button:active{
  color:  #BE898B;
}
h1{
  color: #EED3D5;
}

div{
  border: 1px solid black;
}
.flexitem{
  flex-grow: 1;
}
.flexitem2{
  flex-grow: 2;
}
body{
  background-color: #EFA7A7;
}
#welcome{
  background-color: : black;

}
#title h1{
  font-size: 40px;
  font-family: serif;
  color: #BEEECE;
  background-color: #1C4A42;
}
#titlediv{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items:center;
  height: calc(100%-50px);
  margin-top: 50px;
  justify-content: space-around;

}
@media (max-width: 800px) {
#titlediv{
  flex-direction: column;
}
}

#title h2{
  color: #1C4A42;


}
